NEXT_PUBLIC_SUPABASE_URL=https://xxxxxxxxxxxx.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJxxxxx...
SUPABASE_SERVICE_ROLE_KEY=eyJxxxxx...  

STELLAR_NETWORK=testnet
STELLAR_HORIZON_URL=https://horizon-testnet.stellar.org
STELLAR_NETWORK_PASSPHRASE=Test SDF Network ; September 2015
STELLAR_PLATFORM_PUBLIC=GC565GXNDAFF23GVITSGPWPYQ3PXQC4LFDDYG6HLQWFFAXOQYU5PKTJQ
STELLAR_PLATFORM_SECRET=Sxxxxx...    
STELLAR_USDC_ASSET_CODE=USDC
STELLAR_USDC_ISSUER=GBBD47IF6LWK7P7MDEVSCWR7DPUWV3NY3DTQEVFL4NAT4AQH3ZLLFLA5

PAYOUT_PROVIDER=kkiapay                 
NEXT_PUBLIC_KKIAPAY_PUBLIC=xxxxxxxxxxxxxxxxx
KKIAPAY_PRIVATE=tpk_xxxxx...           
KKIAPAY_SECRET=tsk_xxxxx...             
KKIAPAY_SANDBOX=true
KKIAPAY_BASE_URL=https://api-sandbox.kkiapay.me

NEXT_PUBLIC_APP_URL=http://localhost:3000
NEXT_PUBLIC_DEMO_MODE=false             
